{% extends 'layouts/layout.html' %}
{%load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    <h1>{{title}}</h1>
    
    {% if messages %}
        {% for message in messages %}
            <div>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    

    <form action="" method="post">
        {% csrf_token %}
        {% comment %}
            {{register_form.as_p}}

            {{register_form.username}}
        {% endcomment %}
        {% for field in register_form %}
            <p>
                <label for="">{{field.label}}</label>
                {{field}}

            </p>
        {% endfor %}

        <input type="submit" value="Registrarse">
    </form>

{% endblock %}