<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}  <strong></strong> {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                {%if user.email %}
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'logout' %}">Salir</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Registro</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <hr>
    <div id="content">
        <div class="box">
            {% block content %}


            {% endblock %}
        </div>
    </div>
    <hr>
    <footer>

    </footer>
</body>
</html>